/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Clash Grotesk", sans-serif;
}
/* topbar styling */
.topbar {
  background-color: #f4f5f6;
}
.topbar p {
  padding: 5px 0;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.topbar span {
  text-decoration: underline;
}
/* Navbar styling */
.navbar {
  background-color: white;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's above other elements */
}

.container {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo */

/* Nav Links */
.nav-links {
  display: flex;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  /* margin-top: 12px; */
  flex-wrap: wrap;
}

.nav-links a {
  color: #555;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #dc6d4e;
}
.nav-links a:active {
  color: #dc6d4e;
}
.nav-links a:focus {
  color: #dc6d4e;
}

.nav-links .werken {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-links .werken img {
  width: 12px;
  height: 12px;
}

/* Hamburger Menu */
#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* form section */

.container-form {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 90px;
  padding: 60px 0;
}

.left-form h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}

.left-form p {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 400;
  color: #333;
}

.phone-form {
  color: #d45027 !important;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.left-form img {
  max-width: 300px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  gap: 15px;
}

.row-form {
  display: flex;
  gap: 10px;
}

.row-form .field-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
}
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

textarea {
  resize: vertical;
  height: 70px;
  border-radius: 10px;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  line-height: 1.4;
  cursor: pointer;
}
.checkbox-container label{
  font-size: 13px;
}

/* Hide native checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Label with space for custom circle */
.checkbox-container label {
  position: relative;
  padding-left: 28px;
}

/* Circle outline */
.checkbox-container label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  border: 2px solid #e9542c;
  border-radius: 50%;
  background-color: white;
}

/* Centered checkmark */
.checkbox-container input[type="checkbox"]:checked + label::after {
  content: "✔";
  position: absolute;
  left: 0px;
  top: 3px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #e9542c;
  font-size: 12px;
  pointer-events: none;
}

button {
  padding: 10px;
  background-color: #d45027;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: #c03f1f;
}
.last-para {
  font-size: 13px;
  font-weight: 400;
  margin-top: 60px;
}
.last-star {
  color: #c03f1f;
  font-size: 18px;
  margin-right: 2px;
}

/* map saction*/

/* #map {
        height: 450px;
        width: 100%;
      } */


/* footer section */

.site-footer {
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark text color */
  font-family: Arial, sans-serif;
  padding: 2rem 0;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

/* .logo-footer {
  width: 100px; 
  height: auto;
} */

.contects {
  text-align: right;
}

.contects p {
  margin: 0.5rem 0;
  font-weight: 500;
  line-height: 1.4;
}

.phone,
.email {
  font-size: 0.9rem;
  font-weight: 500;
  color: black !important;
}

.contact-btn {
  display: inline-block;
  background-color: white; /* Red color common for emergency services */
  color: #da7257;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 70px;
  font-weight: bold;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid #da7257;
}

.footer-down {
  display: flex;
  justify-content: flex-end;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(90%);
  transition: filter 0.3s;
}

.social-icons a:hover img {
  filter: grayscale(0%) brightness(100%);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  font-size: 12px;
}

.bottom-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.bottom-leftp {
  font-weight: 400;
}
.bottom-left a {
  color: #333;
  font-weight: 400;
  text-decoration: none;
}

.bottom-left a:hover {
  text-decoration: underline;
}

.credit {
  color: #999;
  font-weight: 400;
  font-style: italic;
}

.main-footer {
  padding: 0px 0;
}

/* -----------------------------
   MOBILE: up to 639px
------------------------------ */
@media (max-width: 639px) {
  /* topbar */
  .topbar p {
    font-size: 10px;
  }
  /* navbar */
  .navbar {
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }
  .hamburger span {
    width: 18px;
    height: 1px;
  }
  .nav-links a {
    padding: 8px 0;
  }

  .logo img {
    width: 64px;
    height: 25px;
  }

  .container {
    padding: 5px 0;
    align-items: flex-center;
  }

  /* form section */

  .container-form {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    padding: 30px 0;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
  }

  .left-form h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .left-form p {
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
  }

  .phone-form {
    color: #d45027;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .left-form img {
    max-width: 100%;
    height: auto;
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  .row-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .field-form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 13px;
    margin-bottom: 4px;
  }

  input,
  textarea {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
    border-radius: 10px;
  }

  .checkbox-form {
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 12px;
    gap: 8px;
  }

  .input-check {
    margin-top: 3px;
  }

  button {
    padding: 10px 20px;
    background-color: #d45027;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #c03f1f;
  }

  .last-para {
    font-size: 14px;
    margin-top: 30px;
  }

  .last-star {
    color: #c03f1f;
    font-size: 16px;
    margin-right: 2px;
  }

  .map {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  /* footer section */

  .logo-footer {
    width: 80px;
    margin-bottom: 1rem;
  }

  .footer-up {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .contects {
    text-align: center;
    margin-top: 1rem;
  }

  .phone,
  .email {
    font-size: 0.8rem;
  }

  .contact-btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .footer-down {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
  }

  .bottom-left {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* -----------------------------
   TABLETS: 640px to 767px
------------------------------ */
@media (min-width: 640px) and (max-width: 767px) {
  .main-footer {
    width: 95%;

    margin: 0 auto;
  }

  /* navbar */
  .navbar {
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .nav-links {
    gap: 20px;
    font-size: 15px;
    margin-top: 0;
  }

  .logo img {
    width: 60px;
    height: 25px;
  }

  /* form section */

  .container-form {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 0px;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
  }

  .left-form h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .left-form p {
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
  }

  .phone-form {
    color: #d45027;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .left-form img {
    max-width: 100%;
    height: auto;
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  .row-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .field-form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 500;
  }

  input,
  textarea {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
    border-radius: 10px;
  }

  .checkbox-form {
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 12px;
    gap: 8px;
  }

  .input-check {
    margin-top: 3px;
  }

  button {
    padding: 10px 20px;
    background-color: #d45027;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #c03f1f;
  }

  .last-para {
    font-size: 14px;
    margin-top: 30px;
  }

  .last-star {
    color: #c03f1f;
    font-size: 16px;
    margin-right: 2px;
  }

  /* footer section */

  .site-footer {
  }

  .logo-footer {
    width: 90px;
  }

  .footer-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }

  .contects {
    text-align: right;
  }

  .phone,
  .email {
    font-size: 0.85rem;
  }

  .contact-btn {
    font-size: 0.85rem;
  }

  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

/* -----------------------------
   SMALL LAPTOPS: 768px to 1023px
------------------------------ */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-footer {
    width: 95%;

    margin: 0 auto;
  }

  /* navbar */
  .navbar {
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .nav-links {
    gap: 24px;
    font-size: 16px;
    margin-top: 0;
  }

  /* form section */

  .container-form {
    flex-direction: row;
    padding: 50px 0px;
    width: 95%;
    margin: 0 auto;
    gap: 60px;
  }

  .left-form {
    flex: 1;
  }

  form {
    flex: 2;
    max-width: none;
  }

  .left-form h2 {
    font-size: 24px;
  }

  .left-form img {
    max-width: 250px;
  }

  /* footer section */

  .site-footer {
  }

  .logo-footer {
    width: 70px;
  }

  .phone,
  .email {
    font-size: 14px;
  }
  .contects {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 11px !important;
  }
  .contects p {
    font-size: 14px;
  }

  .contact-btn {
    font-size: 14px;
    border-radius: 70px;
    height: fit-content;
    width: fit-content;
  }
  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

/* -----------------------------
   DESKTOP: 1024px to 1279px
------------------------------ */
@media (min-width: 1024px) and (max-width: 1279px) {
  /* navbar */
  .navbar {
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .nav-links {
    gap: 32px;
    font-size: 17px;
  }

  .nav-links .werken img {
    width: 10px;
    height: 10px;
  }

  /* form section */

  .container-form {
    padding: 60px 0px;
    gap: 70px;
  }

  .left-form img {
    max-width: 280px;
  }

  .left-form h2 {
    font-size: 24px;
  }

  form {
    max-width: 600px;
  }

  /* footer section */

  .site-footer {
  }

  /* .logo-footer {
    width: 70px;
  } */

  .footer-top {
    padding: 0 0;
  }
  .phone,
  .email {
    font-size: 15px;
  }
  .contects {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 16px !important;
  }
  .contects p {
    font-size: 15px;
  }

  .contact-btn {
    font-size: 15px;
    border-radius: 70px;
    height: fit-content;
    width: fit-content;
  }
  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

/* -----------------------------
   DESKTOP: 1280px..........
------------------------------ */
@media (min-width: 1280px) {
  .topbar {
    padding: 4px 0;
  }
  .topbar p {
    font-size: 14px;
  }
  /* navbar */
  .navbar {
    /* padding: 0 194px; */
  }
  .container {
    /* padding: 8px 0;
        width: 1340px; */
    margin: 0 auto;
  }

  .nav-links {
    gap: 32px;
    font-size: 18px;
  }

  .nav-links .werken img {
    width: 10px;
    height: 10px;
  }

  /* footer section */

  .site-footer {
  }

  /* .logo-footer {
    width: 70px;
  } */

  .footer-top {
    padding: 0 0;
  }
  .phone,
  .email {
    font-size: 16px;
  }
  .contects {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 16px !important;
  }
  .contects p {
    font-size: 16px;
  }

  .contact-btn {
    font-size: 16px;
    border-radius: 70px;
    height: fit-content;
    width: fit-content;
  }
  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

@media (min-width: 1380px) and (max-width: 4000px) {
  .container {
    width: 1340px !important;
    margin: 0 auto !important;
  }

  .container-form {
    width: 1340px !important;
    margin: 0 auto !important;
  }

  .main-footer {
    width: 1340px !important;
    margin: 0 auto !important;
  }
}

@media (min-width: 1024px) and (max-width: 1380px) {
  .container {
    width: 90% !important;
    margin: 0 auto !important;
  }

  .container-form {
    width: 90% !important;
    margin: 0 auto !important;
  }

  .main-footer {
    width: 90% !important;
    margin: 0 auto !important;
  }
}
