/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Clash Grotesk", sans-serif;
}
/* Navbar styling */
.navbar {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's above other elements */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-footer {
  padding: 0px 0;
}

/* Logo */

.logo img {
}

/* Nav Links */
.nav-links {
  display: flex;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  /* margin-top: 12px; */
  flex-wrap: wrap;
}

.nav-links a {
  color: #555;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #dc6d4e;
}
.nav-links a:active {
  color: #dc6d4e;
}
.nav-links a:focus {
  color: #dc6d4e;
}

.nav-links .werken {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-links .werken img {
  width: 12px;
  height: 12px;
}

/* Hamburger Menu */
#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* image section */

.img img {
  width: 100%;
}

/* into section */
.main-cont {
  background-color: #f6f7f8;
}

.content-container {
  padding: 60px 0;
  background-color: #f6f7f8;
  font-family: Arial, sans-serif;
  color: #333;
}


.content-container h2 {
  font-size: 24px;
  font-weight: 500;
  color: #1f1f1f;
  margin-bottom: 16px;
}

.content-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #444;
  max-width: 100%; /* Prevent horizontal overflow */
}

.specialismen {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
}

.specialismen span {
  cursor: pointer;
  color: #1f1f1f;
}
.specialismen span:hover {
  color: #eb5e28;
}
.specialismen .active {
  color: #eb5e28; /* Orange highlight */
}

/* container flex section */

.main-container-flex {
  background-image: url('assets/img-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.text-section {
  padding: 50px 0 50px 0;
  max-width: 668px;
}

.text-section h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin-bottom: 16px;
}

.image-section {

}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* mid flex */
.main-container-mid-flex {
  background-image: url('assets/img-mid-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.text-mid-section {
  padding: 50px 0 50px 0;
  max-width: 668px;
  margin: 0 0 0 auto;
}

.text-mid-section h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text-mid-section p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin-bottom: 16px;
}

.image-mid-section {

}

.image-mid-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* last flex */

.main-container-last-flex{
background-image: url('assets/img-last\ bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-last-section {
  
  padding: 50px 0 50px 0;
  max-width: 668px;
}

.text-last-section h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text-last-section p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin-bottom: 16px;
}

.image-last-section {
  
}

.image-last-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer section */

.site-footer {
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark text color */
  font-family: Arial, sans-serif;
  padding: 2rem 0;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

/* .logo-footer {
  width: 100px; 
  height: auto;
} */

.contects {
  text-align: right;
}

.contects p {
  margin: 0.5rem 0;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
}

.phone,
.email {
  font-size: 16px;
  font-weight: 500;
  color: black !important;
}

.contact-btn {
  display: inline-block;
  background-color: white; /* Red color common for emergency services */
  color: #da7257;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 70px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #da7257;
}

.footer-down {
  display: flex;
  justify-content: flex-end;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(70%) contrast(90%);
  transition: filter 0.3s;
}

.social-icons a:hover img {
  filter: grayscale(0%) brightness(100%);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #ddd;
  font-size: 12px;
}

.bottom-left {
  display: flex;
  gap: 1rem;
}

.bottom-left .copyright {
  font-weight: 400;
  margin-bottom: 0px !important;
}

.bottom-left a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  /* margin-top: 4px; */
}

.bottom-left a:hover {
  text-decoration: underline;
}

.credit {
  color: #999;
  font-style: italic;
  font-weight: 400;
}

/* -----------------------------
   MOBILE: up to 639px
------------------------------ */
@media (max-width: 639px) {
  /* navbar */
  .navbar {
  }
  .hamburger {
    display: flex;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }
  .hamburger span {
    width: 18px;
    height: 1px;
  }
  .nav-links a {
    padding: 8px 0;
  }

  .logo img {
    width: 64px;
    height: 25px;
  }

  /* intro section */

  .content-container {
    padding: 30px 0;
    width: 95%;
    margin: 0 auto;
    background-color: #f6f7f8;
    font-family: Arial, sans-serif;
    color: #333;
  }

  .content-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #1f1f1f;
    margin-bottom: 12px;
  }

  .content-container p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #444;
    max-width: 100%;
  }

  .specialismen {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 13px;
  }

  .specialismen span {
    cursor: pointer;
    color: #1f1f1f;
  }

  .specialismen span:hover {
    color: #eb5e28;
  }

  .specialismen .active {
    color: #eb5e28;
  }

  /* container flex section */

  .container-flex,
  .container-mid-flex,
  .container-last-flex {
    min-height: auto;
    padding: 40px 0;
  }
  .container-flex{
    width: 95%;
  margin:0 auto;
  }
  .container-mid-flex{
    width: 95%;
  margin:0 auto;
  }
  .container-last-flex{
    width: 95%;
  margin:0 auto;
  }

  .text-section,
  .text-mid-section,
  .text-last-section {
    padding: 0 !important;
    max-width: 100%;
  }

  .text-section h2,
  .text-mid-section h2,
  .text-last-section h2 {
    font-size: 22px;
  }

  .image-section,
  .image-mid-section,
  .image-last-section {
    min-height: 250px;
    width: 100%;
  }

  /* footer section */

  .logo-footer {
    width: 80px;
    margin-bottom: 1rem;
  }

  .footer-up {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .contects {
    text-align: center;
    margin-top: 1rem;
  }

  .phone,
  .email {
    font-size: 0.8rem;
  }

  .contact-btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .footer-down {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
  }

  .bottom-left {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}

/* -----------------------------
   TABLETS: 640px to 767px
------------------------------ */
@media (min-width: 640px) and (max-width: 767px) {
  /* navbar */
  .navbar {
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .nav-links {
    gap: 20px;
    font-size: 15px;
    margin-top: 0;
  }

  .logo img {
  }

  /* intro section */
  .content-container {
    padding: 40px 0;
    width: 95%;
    margin: 0 auto;
  }

  .content-container h2 {
    font-size: 22px;
  }

  .content-container p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #444;
    max-width: 100%;
  }

  .specialismen {
    gap: 15px;
    font-size: 15px;
  }

  /* container flex section */

  .container-flex,
  .container-mid-flex,
  .container-last-flex {
    
    min-height: auto;
    padding: 50px 0 ;
  }
  .container-flex{
    width: 95%;
  margin:0 auto;
  }
  .container-mid-flex
  {
    width: 95%;
  margin:0 auto;
  }
  .container-last-flex{
    width: 95%;
  margin:0 auto;
  }

  .text-section,
  .text-mid-section,
  .text-last-section {
    padding: 0 !important;
    max-width: 100%;
  }

  .text-section h2,
  .text-mid-section h2,
  .text-last-section h2 {
    font-size: 24px;
  }

  .image-section,
  .image-mid-section,
  .image-last-section {
    min-height: 300px;
    width: 100%;
  }

  /* footer section */

  .main-footer {
    width: 95%;
    margin: auto;
  }

  .site-footer {
  }

  .logo-footer {
    width: 90px;
  }

  .footer-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }

  .contects {
    text-align: right;
  }

  .phone,
  .email {
    font-size: 0.85rem;
  }

  .contact-btn {
    font-size: 0.85rem;
  }

  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

/* -----------------------------
   SMALL LAPTOPS: 768px to 1023px
------------------------------ */
@media (min-width: 768px) and (max-width: 1023px) {
  /* navbar */
  .navbar {
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .nav-links {
    gap: 24px;
    font-size: 16px;
    margin-top: 0;
  }

  .logo img {
  }

  /* intro section */

  .content-container {
    padding: 50px 0;

    width: 95% !important;
    margin: 0 auto !important;
  }

  .content-container h2 {
    font-size: 23px;
  }

  .content-container p {
    font-size: 16px;
  }

  .specialismen {
    gap: 16px;
    font-size: 16px;
  }

  /* container flex section */

  .container-flex{
    width: 95%;
  margin:0 auto;
  }

  .text-section {
    padding: 20px 0 20px 0;
    max-width: 100%;
  }

  .text-section h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .text-section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
  }

  .image-section img {
    width: 100%;
    height: 100%;
  }

  /* mid flex */
  .container-mid-flex {
    width: 95%;
  margin:0 auto;
  }

  .text-mid-section {
    padding: 20px 0 20px 0;
    max-width: 100%;
  }

  .text-mid-section h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .text-mid-section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
  }

  .image-mid-section img {
    width: 100%;
    height: 100%;
  }
  /* last flex */
  .container-last-flex {
    width: 95%;
  margin:0 auto;
  }

  .text-last-section {
    padding: 20px 0 20px 0;
    max-width: 100%;
  }

  .text-last-section h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .text-last-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 14px;
  }

  .image-last-section img {
    width: 100%;
    height: 100%;
  }

  /* footer section */

  .main-footer {
    width: 95%;
    margin: auto;
  }

  .site-footer {
  }

  .logo-footer {
    width: 70px;
  }

  .phone,
  .email {
    font-size: 14px;
  }
  .contects {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 11px !important;
  }
  .contects p {
    font-size: 14px;
  }

  .contact-btn {
    font-size: 14px;
    border-radius: 70px;
    height: fit-content;
    width: fit-content;
  }
  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

/* -----------------------------
   DESKTOP: 1024px to 1279px
------------------------------ */
@media (min-width: 1024px) and (max-width: 1279px) {
  /* navbar */
  .navbar {
  }
  .container {
  }

  .logo img {
  }

  .nav-links {
    gap: 32px;
    font-size: 17px;
  }

  .nav-links .werken img {
    width: 10px;
    height: 10px;
  }

  /* intro section */

  .content-container {
    padding: 60px 0;
  }

  .content-container h2 {
    font-size: 24px;
  }
  .content-container p {
    font-size: 17px;
  }

  .specialismen {
    font-size: 17px;
    gap: 18px;
  }

  /* container flex section */

  .container-flex {
  }

  .text-section {
    padding: 30px 0 30px 0;
    max-width: 490px;
  }

  .text-section h2 {
    font-size: 27px;
    margin-bottom: 18px;
  }

  .text-section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .image-section img {
    width: 100%;
    height: 100%;
  }

  /* mid flex */
  .container-mid-flex {
    gap: 90px;
  }

  .text-mid-section {
    padding: 30px 0 30px 0;
    max-width: 490px;
  }

  .text-mid-section h2 {
    font-size: 27px;
    margin-bottom: 18px;
  }

  .text-mid-section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .image-mid-section img {
    width: 100%;
    height: 100%;
  }
  /* last flex */
  .container-last-flex {
    gap: 90px;
  }

  .text-last-section {
    padding: 30px 0 30px 0;
    max-width: 490px;
  }

  .text-last-section h2 {
    font-size: 27px;
    margin-bottom: 18px;
  }

  .text-last-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
  }

  .image-last-section img {
    width: 100%;
    height: 100%;
  }

  /* footer section */

  .site-footer {
  }

  /* .logo-footer {
    width: 70px;
  } */

  .footer-top {
    padding: 0 0;
  }
  .phone,
  .email {
    font-size:15px;
  }
  .contects {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 16px !important;
  }
  .contects p {
    font-size: 15px;
  }

  .contact-btn {
    font-size: 15px;
    border-radius: 70px;
    height: fit-content;
    width: fit-content;
  }
  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

/* -----------------------------
   DESKTOP: 1280px...........
------------------------------ */
@media (min-width: 1280px) {
  /* navbar */
  .navbar {
  }
  .container {
  }

  .logo img {
  }

  .nav-links {
    gap: 32px;
    font-size: 18px;
  }

  .nav-links .werken img {
    width: 10px;
    height: 10px;
  }

  /* intro section */

  .content-container {
    padding: 60px 0;
  }

  .specialismen {
    font-size: 18px;
    gap: 20px;
  }

  /* container flex section */

  .container-flex {
    
  }
.content-container h2 {
    font-size: 30px;
  }
  .content-container p {
    font-size: 18px;
  }
  .text-section {
    padding: 50px 0 50px 0;
    max-width: 600px;
  }

  .text-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 16px;
  }

  .image-section img {
    width: 100%;
    height: 100%;
  }

  /* mid flex */
  .container-mid-flex {
    gap: 90px;
  }

  .text-mid-section {
    padding: 50px 0 50px 0;
    max-width: 600px;
  }

  .text-mid-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-mid-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 16px;
  }

  .image-mid-section img {
    width: 100%;
    height: 100%;
  }

  /* last flex */
  .container-last-flex {
    gap: 90px;
    min-height: 100vh;
  }

  .text-last-section {
    padding: 50px 0 50px 0;
    max-width: 600px;
  }

  .text-last-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-last-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 16px;
  }

  .image-last-section img {
    width: 100%;
    height: 100%;
  }

  /* footer section */

  .site-footer {
  }

  /* .logo-footer {
    width: 70px;
  } */

  .footer-top {
    padding: 0 0;
  }
  .phone,
  .email {
    font-size: 16px;
  }
  .contects {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 16px !important;
  }
  .contects p {
    font-size: 16px;
  }

  .contact-btn {
    font-size: 16px;
    border-radius: 70px;
    height: fit-content;
    width: fit-content;
  }
  .footer-down {
    justify-content: flex-start;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

@media (min-width: 1380px) and (max-width: 4000px) {
  .container {
    width: 1340px !important;
    margin: 0 auto !important;
  }

  .content-container {
    width: 1340px !important;
    margin: 0 auto !important;
  }

  .container-flex{
    width: 1340px;
  margin:0 auto;
  }
  .container-mid-flex{
    width: 1340px;

  margin:0 auto;
  }
  .container-last-flex{
    width: 1340px;
  margin:0 auto;
  }

  .main-footer {
    width: 1340px !important;
    margin: 0 auto !important;
  }
}

@media (min-width: 1024px) and (max-width: 1380px) {
  .container {
    width: 90% !important;
    margin: 0 auto !important;
  }

  .content-container {
    width: 90% !important;
    margin: 0 auto !important;
  }

  .container-flex{
    width: 90%;
  margin: auto;
  }
  .container-mid-flex{
    width: 95%;
  margin-left: 0;
  margin-right: auto;
  }
  .container-last-flex{
    width: 95%;
  margin-right: 0;
  margin-left: auto;
  }

  .main-footer {
    width: 90% !important;
    margin: 0 auto !important;
  }
}

/* -----------------------------
   DESKTOP: 1536px to 2559px
------------------------------ */


@media (max-width: 1023px) {
.main-container-flex{
  background: none;
}

.main-container-mid-flex{
  background: none;
}
.main-container-last-flex{
  background: none;
}
}

@media (min-width: 1024px) {
  .image-section{
    display: none;
  }
  .image-mid-section{
    display: none;
  }
  .image-last-section{
    display: none;
  }
}
/* -----------------------------
   4K SCREENS: 2560px and above
------------------------------ */
